<hello name="{{ name }}"></hello>
<p>
Angular looks cool, here's my first attempt learning more about the Angular framework. So far I'm playing with stackblitz and it seems understandable.
<br>
<br>
It seems relevant to explain in w3school tutorials, there appeared to be many different ways to implement a 'template style' html page, apps, development tools. The way things are developed here appear to be offering a bit more depth than w3school tutorials, which leads me to believe I'm going to need to re-learn what's what here using stackblitz.com
<br>
<br>
Forgetting everything I just learned, starting now. 
</p>